chromedriver.exe
scrap/webpage.txt
scrap/ggmap.json
scrap/ggmap_location.json
scrap/home.csv
classifield/AG/AG_PROPERTY.json
classifield/AG/AG_PROJECT.json
classifield/BC/BC_PROJECT.json
classifield/BC/BC_PROPERTY.json
classifield/AG/AG_Match.csv
classifield/BC/BC_Match.csv
script_test
scrap/webpage_home_data.txt
scrap/house_image
scrap/home2.csv
scrap/homenayoo_link_for_data.csv
scrap/house_pic_count.csv
scrap/Housing_Developer.csv
scrap/Housing_Developer_EN.csv
scrap/Realist_Developer.csv
scrap/Match_Developer_EN.csv
scrap/Match_Developer_TH.csv
scrap/house_image2
.vscode
housing_template/home_address.csv
housing_template/home.csv
housing_template/postal_code.csv
play.py
housing_template/test.py
Samie/clean_subdistrict.csv
Samie/khet_kwang.csv.csv
Samie/work_khet_kwang.csv
dd/dd_data.csv
g_analytic/aa.json
housing_template/get_road_name.csv
housing_template/list_eng.csv
housing_template/list_match.csv
housing_template/list_match_eng.csv
housing_template/list_not_match.csv
housing_template/list_not_match_eng.csv
housing_template/list_th.csv
housing_template/work_name1.csv
housing_template/work_nameEN1.csv
housing_template/work_nameEN2.csv
housing_template/work_name_round2.csv
scrap/coor_number.csv
scrap/get_pic.csv
dd/dd_link.csv
hip/hip.csv
hip/match1.csv
Samie/khet_kwang.csv
scrap/google_map.csv
scrap/home_data.csv
scrap/home_date.csv
scrap/home_floor.csv
scrap/homenayoo_link_all.csv
scrap/homenayoo_link.csv
scrap/house_type.csv
Thanarak/TH_reverse.csv
scrap/pic/housing_img_crop
scrap/รูปจากซามี่
scrap/pic/crop_1920
scrap/pic/crop_675
scrap/pic/crop_240
scrap/pic/gall_house_image
scrap/pic/vertical result
classifield/Plus/Plus_PROJECT.json
classifield/Plus/Plus_PROPERTY.json
classifield/classified_unit_report.xlsx
classifield/classified_image
classifield/Plus/Plus_match.csv
classifield/backup.sql
scrap/pic/house_image
scrap/pic/new 300
classifield/Bridge/bridge.json
classifield/ERA/era.json
classifield/HHR/hhr.json
classifield/SERVE/serve.json
realist/contract_form/access.json
scrap/work.txt
sql/password.txt
realist/boundary/subdistrict
realist/boundary/district
scrap/format_link.csv
scrap/new_link.csv
scrap/new_list_all.csv
scrap/old link.csv
classifield/classified_log.xlsx
Accounting Project/full_quotations
Accounting Project/access.json
analytic/access.json
analytic/access2.json
contact_form/access.json
Accounting Project/clean company.xlsx
Accounting Project/data.xlsx
Accounting Project/quotations.xlsx
Accounting Project/summary.xlsx
classifield/__pycache__
realist/boundary/tambon lat lon location.xlsx
scrap webhome/list_condo.csv
scrap webhome/condo_link.csv
scrap webhome/match1.csv